<form class="" action="/merchants/new" method="post">

  <label for="name-field">New Merchant: </label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <input class="button_standard" type="submit" value="Add Merchant">
</form>
