<form class="" action="/merchants/new" method="post">

  <label for="name-field">New Merchant: </label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <input class="button button_add button_standard" type="submit" value="Add Merchant">
</form>

<table class="tag_merchant">
  <br/>
  <thead>
    <tr>
      <th class="header1_tag_merchant">
        Merchant
      </th>
      <th class="header2_tag_merchant">
        Edit
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
    <tr>
        <td>
          <%= merchant.name %>
        </td>
        <td>
          <form class="" action="/merchants/<%= merchant.id %>/edit" method="get">
            <input class="button button_edit" type="submit" value="Edit">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
