<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Anaheim|Coda|Codystar|Droid+Sans+Mono|Jura|Monda|Quantico|Raleway|Share+Tech+Mono|Source+Code+Pro|Space+Mono" rel="stylesheet">
    <meta charset="utf-8">
    <title>Cashboard</title>
  </head>
  <body>
    <nav>
      <div class="navigation">
      <ul>
        <li><a href="/transactions">All Transactions</a></li>
        <li><a href="/tags">Transactions by Type</a></li>
        <li><a href="/tags/new">Add Type</a></li>
        <li><a href="/merchants">Transactions by Merchant</a></li>
        <li><a href="/merchants/new">Add Merchant</a></li>
      </ul>
    </div>
    <h1>Cashboard</h1>
    </nav>
    <%= yield %>
  </body>
</html>
