<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <div class="navigation">
      <ul>
        <li><a href="/transactions">All Transactions</a></li>
        <li><a href="/tags">Transactions by Type</a></li>
        <li><a href="/tags/new">ADD TYPE</a></li>
        <li><a href="/merchants">Transactions by Merchant</a></li>
        <li><a href="/merchants/new">ADD MERCHANT</a></li>
      </ul>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
