<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Anaheim|Coda|Codystar|Droid+Sans+Mono|Jura|Monda|Quantico|Raleway|Share+Tech+Mono|Source+Code+Pro|Space+Mono" rel="stylesheet">
    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="utf-8">
    <title>Cashboard</title>
  </head>
  <body>
    <nav>
      <div class="navigation">
      <ul>
        <li><a href="/transactions">Home</a></li>
        <li><a href="/merchants">Spend by Merchant</a></li>
        <li><a href="/merchants/new">Add/Edit Merchant</a></li>
        <li><a href="/tags">Spend by Type</a></li>
        <li><a href="/tags/new">Add/Edit Type</a></li>
      </ul>
    </div>
    <h1>Cashboard</h1>
    <div class="tri-color-line"></div>
    </nav>

    <%= yield %>
  </body>
</html>
