h1 {
  font-family: 'Codystar';
  font-size: 60pt;
  font-weight: bold;
  color: #484848;
  padding: 60px 5px 0px 5px;
  margin: 10px;
}

body {
  font-family: 'Source Code Pro';
  color: #484848;
}

p {
  font-size: 20pt;
  margin: 10px;
}

.num {
  font-weight: bold;
}

.neg_num {
  color: red;
}

.neg_num {
    animation-name: neg;
    animation-duration: 1s;
}

@keyframes neg {
    from {color: black;}
    to {color: red;}
}

.pos_num {
  color: green;
  font-weight: bold;
}

.pos_num {
  animation-name: pos;
  animation-duration: 1s;
}

@keyframes pos {
    from {color: black;}
    to {color: green;}
}



form {
  text-align: center;
  width: auto;
  margin-left:auto;
  margin-right:auto;
  font-weight: bold;
  font-size: 18px;
}

table.all {
  margin: 10px;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  border-left: 1px dashed #484848;
}

/* TABLE: ALL TRANSACTIONS*/
.header1 {
  width: 26%;
}

.header2 {
  width: 27%;
}

.header3 {
  width: 20%;
}

.header4 {
  width: 7%;
}

.header5 {
  width: 20%;
  border-right: 1px dashed #484848;
}

.right_table {
  border-right: 1px dashed #484848;
}

tr:nth-child(even) {
  background-color: #E1E1E1;
}

tr:hover {
  background-color: #CFCFCF
}

thead {
  font-size: 18px;
  font-weight: bold;
}

table td {
  border-right: 1px dashed #484848;
}

/* TABLE: TAGS/MERCHANTS */

table.tag_merchant {
  margin-left:auto;
  margin-right:auto;
  border-left: 1px dashed #484848;
}
.header1_tag_merchant {
  width: auto;
}

.header2_tag_merchant {
  width: 100px;
}

.tag_merchant_totals {
  font-size: 18pt;
  font-weight: bold;
  text-align: right;
  /*margin-left: 50%;
  margin-right: 20%;*/
  position: absolute;
  right: 10%;
  z-index: -1;
}

.bold-text {
  font-weight: bolder;
}

.navigation {
  font-size: 16pt;
  color: #484848;
  width: 100%;
  margin-top: -10px;
  margin-left: -10px;
  position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E1E1E1;
}

li {
    display: inline;
    float:left;
}

li a {
    display: block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

a:visited {
    color: #484848;
}

/* Change the link color to #C3C3C3 (charcoal, light) on hover */
li a:hover {
    background-color: #C3C3C3;
}

/* BUTTONS */
.button_standard {

    font-family: 'Source Code Pro';
    color: #484848;
    padding: 5px 11px;
    font-size: 14px;
    margin: 4px 2px;
    border-width: 0px;
}

.button_add {

    font-family: 'Source Code Pro';
    background-color: #ACDAAC;
    color: #484848;
    padding: 5px 11px;
    font-size: 12px;
    margin: 4px 2px;
    border-width: 0px;

}

.button_standard:hover {
    background-color: #8AAE8A;
}

.button_delete {

    font-family: 'Source Code Pro';
    background-color: #FFACAC;
    color: #484848;
    padding: 5px 11px;
    font-size: 12px;
    margin: 4px 2px;
    border-width: 0px;

}

.button_delete:hover {
  background-color: #CC8A8A;
}

.button_edit {

    font-family: 'Source Code Pro';
    background-color: #99cfe0;
    color: #484848;
    padding: 5px 11px;
    font-size: 12px;
    margin: 4px 2px;
    border-width: 0px;

}

.button_edit:hover {
  background-color: #7AA6B3;
}
