<br/>
<br/>
<form class="" action="/tags/new" method="post">

  <label for="type-field">New Type: </label>
  <input
  type="text"
  name="type"
  id="type-field"
  />

  <input class="button button_add button_standard" type="submit" value="Add Type">

</form>

    <table class="tag_merchant">
      <br/>
      <thead>
        <tr>
          <th class="header1_tag_merchant">
            Type
          </th>
          <th class="header2_tag_merchant">
            Edit
          </th>

        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
        <tr>
            <td>
              <%= tag.type %>
            </td>
            <td>
              <form class="" action="/tags/<%= tag.id %>/edit" method="get">
                <input class="button button_edit" type="submit" value="Edit">
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
