<form class="" action="/tags/new" method="post">

  <label for="description-field">New Type: </label>
  <input
  type="text"
  name="type"
  id="type-field"
  />

  <input type="submit" value="Add Tag">
</form>
